.th-truncate {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.th-no-paddings {
    padding: 0;
}

.th-no-paddings-sm {
    @include MQM(MD) {
        padding: 0;
    }

}

.th-no-paddings-xs {
    @include MQM(SM) {
        padding: 0;
    }
}

.th-no-margins {
    margin: 0;
}

.th-no-margins-sm {
    @include MQM(SM) {
        margin: 0 !important;
    }
}

.th-no-margins-xs {
    @include MQM(XS) {
        margin: 0 !important;
    }
}

.th-no-margin-top {
    margin-top: 0 !important;
}