.th-messages {
  border-radius: 6px;
  background: #fff;
  overflow: hidden;
  @include display(flex);
  @include align-content(stretch);
  height: 670px;

  &__l {
    width: 270px;
    height: 100%;
    border-right: 1px solid #eaeaea;
    min-width: 270px;

    @include MQM(SM) {
      width: 200px;
      min-width: 200px;
    }

    @include MQM(540) {
      width: 150px;
      min-width: 150px;
    }
  }

  &__r {
    position: relative;
    width: 100%;
    @include display(flex);
    @include flex-flow(column nowrap);

    &__t {
      height: 100%;
      @include flex(1);
      overflow-y: auto;
      padding: 15px 30px;

      @include MQM(540) {
        padding: 10px;
      }

      ul.th-messages__messages-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
    }

    &__b {
      border-top: 1px solid #eaeaea;
      height: 200px;
      padding: 15px 30px 15px;

      @include MQM(540) {
        padding: 10px;
      }
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__message {
    padding: 30px 30px 15px;
    background: #fafafa;
    margin-bottom: 15px;
    border-radius: 6px;

    @include MQM(540) {
      padding: 10px;
    }
    
    &.new {
      background: #e5f5fc;
    }
    
    p {
      font-size: 14px;
      line-height: 18px;
      color: #131313;
    }

    &__date {
      font-size: 12px;
      color: #bbb;
      float: left;
    }

    &__author {
      font-size: 12px;
      float: right;
      text-decoration: none;
      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  &__profile {
    padding: 15px 20px 15px 30px;
    @include display(flex);
    @include align-items(center);
    text-decoration: none;

    @include MQM(SM) {
      padding: 15px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      .th-messages__profile__name {
        color: #dc185b;
      }
    }
    
    &.active {
      background: #dc185b;

      .th-messages__profile__name,
      .th-messages__profile__extra {
        color: #fff;
      }
    }


    

    &__thumb {
      display: inline-block;
      vertical-align: middle;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 10px;
      @include flex(1 0 60px);

      @include MQM(SM) {
        display: none;
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &__title {
      display: inline-block;
      vertical-align: middle;
      width: 150px;

      @include MQM(SM) {
        width: 100%;
      }
    }

    &__name {
      font-size: 14px;
      font-weight: bold;
      color: #131313;
      display: block;
      line-height: 1;

      @include MQM(540) {
        font-size: 12px;
      }
    }
    
    &__extra {
      font-size: 14px;
      color: #bbb;
      display: block;
      @include MQM(540) {
        font-size: 11px;
      }
    }
  }

  &__send-form {
    textarea.form-control {
      font-size: 14px;
      padding: 15px;
      margin-bottom: 15px;
      @include placeholder(#bbb);

      @include MQM(540) {
        font-size: 12px;
      }
    }

    button[type="submit"] {
      text-transform: uppercase;
      padding: 8px 80px;

      @include MQM(540) {
        padding: 6px 10px;
        width: 100%;
        font-size: 12px;
      }
    }

  }
}