.th-header {
    

    &__lang {
        display: inline-block;
        vertical-align: middle;
    }

    &__call {
        display: inline-block;
        vertical-align: middle;
        color: #b869a8;
        padding: 20px 10px 18px;

        @include MQM(SM) {
            padding: 15px 10px 13px;
            font-size: 14px;
        }

        a {
            color: #fff;
            text-decoration: none;
            font-size: inherit;
        }

        &__text {
            @include MQM(MD) {
                display: none;
            }
        }
    }

    &__nav-burger {
        background-color: #9d2275;
        height: 48px;
        width: 54px;
        position: relative;
        border-left: 1px solid #af3988;
        display: none;

        @include MQM(SM) {
            display: block;
        }

        svg {
            fill: #ffffff;
        }
    }

    &__nav {

    }

    &__logo-sm {
        display: none;
        padding: 8px 0;
        margin-right: 20px;

        @include MQM(MD) {
            display: inline-block;
        }

        &.th-header__logo-sm_visible {
            display: inline-block;
        }
    }

    &__motto {
        display: inline-block;
        vertical-align: middle;
        padding: 18px 0;

        @include MQM(SM) {
            display: none;
        }
    }

    &__logo {
        position: absolute;
        left: 50%;
        top: 0;
        @include transform(translateX(-50%));
        width: 300px;
        height: 130px;
        background-color: #fff;
        padding: 24px 27px 15px;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        z-index: 10;

        @include MQM(MD) {
            display: none;
        }

        a {
            width: 244px;
            display: block;
            
            img {
                width: 100%;
            }
        }
    }
}


.th-header-colored {
    @include display(flex);
    @include justify-content(space-between);
    @include flex-flow(row nowrap);

    @include MQM(SM) {
        @include flex-flow(column nowrap);
    }

    &-wr {
        @include linear-gradient(to right, #4e0d56, #dc185b);

        @include MQM(SM) {
            @include linear-gradient(to right, #922687, #a6227b);
        }
    }

    &__l {

        @include MQM(SM) {
            width: 100%;
            @include display(flex);
            @include justify-content(space-between);
        }
        &__l {

        }
    }

    &__r {

    }
}

.th-header-white {
    position: relative;
    @include display(flex);
    @include justify-content(space-between);
    
    &-wr {
        background-color: #fff;
    }
}