.th-upcoming-tours {
    h2 {
        margin-top: 54px;
        margin-bottom: 54px;

        @include MQM(XS) {
            margin-top: 30px;
            margin-bottom: 20px;
            font-size: 18px;
        }
    }

    &__tour {
        @include MQM(SM) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .btn-outline {
        margin: 50px 0;
        padding: 10px 75px;

        @include MQM(XS) {
            margin: 20px 0;
        }
    }
}

.th-home-hero {
    background: url('../images/hero.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 155px;
    padding-bottom: 45px;

    @include MQM(SM) {
        padding-top: 40px;
    }

    &__headings {
        margin-bottom: 40px;

        @include MQM(SM) {
            margin-bottom: 20px;
        }
    }

    &__search {
        @include MQM(SM) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    h1, h3 {
        color: #fff;
    }

    h1 {
        margin-bottom: 0;
        @include MQM(SM) {
            font-size: 30px;
            margin-top: 0;
        }

    }

    h3 {
        margin-top: 0;
        font-size: 24px;
        @include MQM(SM) {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

.th-home-search {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 100px;
    @include display(flex);

    @include MQM(SM) {
        display: block;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        padding: 18px;
        margin-bottom: 25px;
    }


    &__input {
        margin-right: 6px;

        input {
            width: 100%;
            background-color: #fff;
            border: 1px solid #e6e6e6;
            padding: 15px 45px 15px 18px;
            border-radius: 6px;
            font-size: 16px;
            line-height: 1.428571429;
            color: #555555;
        }
        &_dest {
            width: 30%;
            position: relative;

            @include MQM(SM) {
                width: 100%;
                margin-bottom: 10px;
            }

            .selectboxit-container {

                width: 100%;
                height: 54px;
                position: relative;
                z-index: 1;

                &[aria-expanded=true] {
                    z-index: 20;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 49px;
                        left: 0;
                        height: 5px;
                        width: 100%;
                        background: #f3f4f6;
                        z-index: 0;
                        
                    }

                    .selectboxit {
                        &:after {
                            z-index: 25;
                        }
                    }
                }

                .selectboxit {
                    width: 100% !important;
                    background-color: #fff;
                    background-image: none !important;
                    border: 1px solid #e4e4e4;
                    border-radius: 6px;
                    font-size: 16px;
                    line-height: 1.428571429;
                    display: block;
                    height: 54px;
                    z-index: 2;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        background: url('../images/planet.svg') no-repeat;
                        background-size: contain;
                        top: 50%;
                        right: 10px;
                        z-index: 15;
                        @include transform(translateY(-50%));
                    }
                }

                .selectboxit-btn.selectboxit-enabled:hover,
                .selectboxit-btn.selectboxit-enabled:focus,
                .selectboxit-btn.selectboxit-enabled:active {
                    background-color: #fff;
                }

                .selectboxit-arrow-container {
                    display: none;
                }

                .selectboxit-options {

                    a {
                        height: 42px !important;
                        line-height: 42px !important;
                        padding-left: 15px;
                    }
                }

                .selectboxit-text {
                    height: 54px;
                    line-height: 54px;
                    float: none;
                    font-size: 16px;
                    color: #555555;
                    max-width: 100% !important;
                    padding-left: 10px;
                }

                .selectboxit-option-icon-container {
                    display: none !important;
                }
            }
        }

        &_date {
            width: 30%;
            position: relative;

            @include MQM(SM) {
                width: 100%;
                margin-bottom: 10px;
            }

            &:after {
                content: '';
                position: absolute; 
                height: 25px;
                width: 25px;
                background: url('../images/date.svg') no-repeat;
                background-size: contain;
                top: 50%;
                right: 10px;
                @include transform(translateY(-50%));
            }
        }

        &_type {
            width: 20%;
            position: relative;

            @include MQM(SM) {
                width: 100%;
                margin-bottom: 10px;
            }

            .selectboxit-container {
                width: 100%;
                height: 54px;
                position: relative;
                z-index: 1;


                .selectboxit {
                    width: 100% !important;
                    background-color: #fff;
                    background-image: none !important;
                    border: 1px solid #e4e4e4;
                    border-radius: 6px;
                    font-size: 16px;
                    line-height: 1.428571429;
                    display: block;
                    height: 54px;
                    z-index: 2;

                    &:after {
                        content: '';
                        position: absolute;
                        height: 25px;
                        width: 25px;
                        background: url('../images/type.svg') no-repeat;
                        background-size: contain;
                        top: 50%;
                        right: 10px;
                        z-index: 15;
                        @include transform(translateY(-50%));
                    }
                }

                .selectboxit-btn.selectboxit-enabled:hover,
                .selectboxit-btn.selectboxit-enabled:focus,
                .selectboxit-btn.selectboxit-enabled:active {
                    background-color: #fff;
                }

                .selectboxit-arrow-container {
                    display: none;
                }

                .selectboxit-options {
                    border-top-left-radius: 6px;
                    border-top-right-radius: 6px;
                    @include transform(translateY(-50%));

                    a {
                        height: 32px !important;
                        line-height: 32px !important;
                        padding-left: 15px;
                    }
                }

                .selectboxit-text {
                    height: 54px;
                    line-height: 54px;
                    float: none;
                    font-size: 16px;
                    color: #555555;
                    max-width: 100% !important;
                    padding-left: 10px;
                }

                .selectboxit-option {
                    border: none;
                }

                .selectboxit-option-icon-container {
                    display: none !important;
                }
            }
        }
    }

    &__submit {
        width: 20%;
        @include MQM(SM) {
            text-align: center;
            width: auto;
        }

        button {
            
            background-color: #2b2b2b;
            border: none;
            border-radius: 6px;
            color: #fff;
            text-transform: uppercase;
            height: 54px;
            width: 100%;

            @include MQM(SM) {
                width: 180px;
            }
        }
    }
}