.th-checklist {
  list-style: none;
  padding: 0;

  &__item {
    position: relative;
    display: block;
    padding: 12px 0 12px 42px;
    border-top: 1px solid #e4e4e4;

    &--checked {
      .th-checklist__cross {
        display: none;
      }

      .th-checklist__tick {
        display: block;
      }
    }

    &--collapsed {
      .th-checklist__body {
        height: 0;
      }

      .th-checklist__heading {
        margin-bottom: 0;

        button svg {
          fill: #131313;
          @include transform(rotate(0deg));
        }
      }
    }
  }

  &__tick, &__cross {
    position: absolute;
    top: 12px;
    left: 0;
    width: 16px;
    height: 16px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  &__tick {
    display: none;
  }

  &__cross {
    display: block;
    svg {
      fill: red;
    }
  }

  &__heading {
    font-size: 14px;
    font-weight: bold;
    color: #131313;
    margin-bottom: 2rem;
    @include display(flex);
    @include justify-content(space-between);
    @include align-items(center);

    button {
      width: 18px;
      height: 18px;
      padding: 0;
      border: none;
      background: none;

      svg {
        width: 14px;
        height: 14px;
        fill: #bbb;
        @include transition(transform .25s ease-in-out);
        @include transform(rotate(180deg));
      }
    }
  }

  &__body {
    position: relative;
    height: auto;
    overflow: hidden;
    @include transition(height 0.2s ease-in-out);

    p {
      font-size: 14px;
      color: #131313;
    }
  }
}
