.th-radio {
  display: inline-block;

  .th-radio--faux {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    border-radius: 50%;
    background: #fff;
    transition: border .1s linear, background-color .1s linear;
  }

  .th-form-element__label {
    display: inline;
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
  }

  [type="radio"] {
    height: 1px;
    width: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:checked + .th-radio--faux,
    &:checked ~ .th-radio--faux,
    &:checked + .th-radio__label .th-radio--faux {
      background: #fff;

      &:after {
        height: 8px;
        width: 8px;
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        border-radius: 50%;
        background: #dc185b;
      }
    }

    &:focus + .th-radio--faux,
    &:focus ~ .th-radio--faux,
    &:focus + .th-radio__label .th-radio--faux {
        border-color: #dc185b;
        box-shadow: 0 0 3px #dc185b;
    }

    &[disabled] {
      // scss-lint:disable NestingDepth
      cursor: not-allowed;
      user-select: none;

      ~ .th-radio--faux,
      + .th-radio__label .th-radio--faux {
        background-color: #e0e5ee;
        border-color: #a8b7c7;
      }
    }
  }
}

.th-has-error .th-radio [type="radio"] {

  + .th-radio--faux,
  ~ .th-radio--faux,
  + .th-radio__label .th-radio--faux {
    border-color: #c23934;
    border-width: 2px;
  }

  &:checked + .th-radio--faux,
  &:checked ~ .th-radio--faux,
  &:checked + .th-radio__label .th-radio--faux {
    background: #fff;

    &:after {
      background: #d4504c;
    }
  }
}

.th-form-element .th-radio [type="radio"] + .th-radio--faux,
.th-form-element .th-radio [type="radio"] ~ .th-radio--faux,
.th-radio [type=radio] + .th-radio__label .th-radio--faux {
  margin-right: 8px;
}



.th-checkbox {
  display: inline-block;

  .th-checkbox--faux {
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    border: 1px solid #d8dde6;
    border-radius: 2px;
    background: #fff;
    transition: border .1s linear, background-color .1s linear;
  }

  .th-form-element__label {
    display: inline;
    vertical-align: middle;
    font-size: 16px;
  }

  [type="checkbox"] {
    height: 1px;
    width: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

    &:checked + .th-checkbox--faux,
    &:checked ~ .th-checkbox--faux,
    &:checked + .th-checkbox__label .th-checkbox--faux {

      &:after {
        display: block;
        content: '';
        height: 4px;
        width: 8px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) rotate(-45deg);
        border-bottom: 2px solid #dc185b;
        border-left: 2px solid #dc185b;
      }
    }

    &:focus {

      + .th-checkbox--faux,
      ~ .th-checkbox--faux,
      + .th-checkbox__label .th-checkbox--faux {
        content: '';
        border-color: #dc185b;
        box-shadow: #dc185b;
      }

      &:checked > .th-checkbox--faux,
      &:checked ~ .th-checkbox--faux,
      &:checked + .th-checkbox__label .th-checkbox--faux {
        border-color: #dc185b;
        background-color: #fff;
      }
    }

    &:indeterminate + .th-checkbox--faux:after,
    &:indeterminate ~ .th-checkbox--faux:after,
    &:indeterminate + .th-checkbox__label .th-checkbox--faux:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 8px;
      height: 2px;
      background: #dc185b;
      border: 0;
      transform: translate3d(-50%, -50%, 0);
    }

    &[disabled] {
      // scss-lint:disable NestingDepth

      + .th-checkbox--faux,
      ~ .th-checkbox--faux,
      + .th-checkbox__label .th-checkbox--faux {
        background-color: #e0e5ee;
        border-color: #a8b7c7;


        &:after {
          border-color: #fff;
        }
      }
    }
  }
}

.th-has-error .th-checkbox [type="checkbox"] {

  + .th-checkbox--faux,
  ~ .th-checkbox--faux,
  + .th-checkbox__label .th-checkbox--faux {
    border-color: #c23934;
    border-width: 2px;
  }

  &:checked + .th-checkbox--faux,
  &:checked ~ .th-checkbox--faux,
  &:checked + .th-checkbox__label .th-checkbox--faux {
    border-color: #c23934;
    background-color: #fff;

    &:after {
      border-color: #c23934;
    }
  }
}

.th-form-element .th-checkbox [type="checkbox"] + .th-checkbox--faux,
.th-form-element .th-checkbox [type="checkbox"] ~ .th-checkbox--faux,
.th-form-element .th-checkbox [type="checkbox"] + .th-checkbox__label .th-checkbox--faux {
  margin-right: 8px;
}